
### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CPack*
_CPack_Packages
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# .vscode
.idea
.DS_Store
bin
images
node_modules
package-lock.json
test/output/*.jpg
test/output/*.png
gmon.out
gprof.out
.vagrant

*.deb
VERSION